USE [simex06]
GO
/****** Object:  Table [dbo].[airports]    Script Date: 16/03/2026 16:36:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[airports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [char](5) NOT NULL,
	[name] [varchar](120) NOT NULL,
	[city_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carriers]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carriers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[city_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cities]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[country_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[client_requests]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client_requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[client_id] [int] NOT NULL,
	[volume_m3] [decimal](8, 2) NOT NULL,
	[gross_weight_kg] [decimal](8, 2) NOT NULL,
	[comments] [varchar](max) NOT NULL,
	[origin_id] [int] NOT NULL,
	[destination_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[created_by] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [varchar](255) NOT NULL,
	[vat_number] [varchar](255) NULL,
	[address] [varchar](255) NOT NULL,
	[country] [varchar](255) NOT NULL,
	[postal_code] [varchar](255) NOT NULL,
	[contact_name] [varchar](255) NOT NULL,
	[email] [varchar](255) NULL,
	[phone] [varchar](255) NOT NULL,
	[odoo_int] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[created_by] [int] NOT NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[deleted_at] [datetime] NULL,
	[deleted_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_clients_vat_number] UNIQUE NONCLUSTERED 
(
	[vat_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[commercial_offers]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[commercial_offers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reference] [varchar](50) NOT NULL,
	[client_request_id] [int] NOT NULL,
	[client_id] [int] NOT NULL,
	[incoterm_id] [int] NOT NULL,
	[origin_port_id] [int] NOT NULL,
	[destination_port_id] [int] NOT NULL,
	[container_type_id] [int] NULL,
	[price] [decimal](12, 2) NOT NULL,
	[valid_until] [date] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[rejection_reason] [varchar](max) NULL,
	[comments] [varchar](max) NULL,
	[odoo_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[created_by] [int] NOT NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_commercial_offers_reference] UNIQUE NONCLUSTERED 
(
	[reference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[container_types]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[container_types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conversation_participants]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversation_participants](
	[conversation_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[joined_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[conversation_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conversations]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](100) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[countries]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countries](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incoterm_types]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incoterm_types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [char](5) NULL,
	[name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incoterms]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incoterms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[incoterm_type_id] [int] NOT NULL,
	[tracking_step_id] [int] NOT NULL,
	[order_num] [int] NULL,
	[responsability] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[locations]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[client_id] [int] NOT NULL,
	[latitude] [decimal](10, 8) NULL,
	[longitude] [decimal](11, 8) NULL,
	[city_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login_sessions]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login_sessions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[ip_address] [varchar](255) NOT NULL,
	[user_agent] [varchar](255) NOT NULL,
	[device_type] [varchar](255) NOT NULL,
	[logged_in_at] [datetime] NULL,
	[logged_out_at] [datetime] NOT NULL,
	[token_expires_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logistics_operations]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logistics_operations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reference] [varchar](50) NOT NULL,
	[commercial_offer_id] [int] NOT NULL,
	[client_id] [int] NOT NULL,
	[status] [varchar](30) NOT NULL,
	[etd] [date] NULL,
	[eta] [date] NULL,
	[atd] [date] NULL,
	[ata] [date] NULL,
	[odoo_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[completed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_logistics_operations_offer] UNIQUE NONCLUSTERED 
(
	[commercial_offer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_logistics_operations_reference] UNIQUE NONCLUSTERED 
(
	[reference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[conversation_id] [int] NOT NULL,
	[sender_id] [int] NOT NULL,
	[content] [varchar](max) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personal_documents]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personal_documents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[personal_document_type_id] [int] NULL,
	[entity_type] [varchar](30) NOT NULL,
	[entity_id] [int] NOT NULL,
	[file_name] [varchar](255) NOT NULL,
	[file_path] [varchar](500) NOT NULL,
	[file_size_bytes] [bigint] NULL,
	[mime_type] [varchar](100) NULL,
	[is_encrypted] [bit] NOT NULL,
	[encryption_key] [varchar](500) NULL,
	[uploaded_by] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personal_documents_types]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personal_documents_types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ports]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[city_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_roles_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shipping_lines]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipping_lines](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[city_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tracking_steps]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tracking_steps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[status] [nchar](20) NULL,
 CONSTRAINT [PK__tracking__3213E83F7AAA640A] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 16/03/2026 16:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[client_id] [int] NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password_hash] [varchar](256) NOT NULL,
	[phone_number] [varchar](255) NOT NULL,
	[is_active] [bit] NOT NULL,
	[odoo_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[created_by] [int] NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[deleted_at] [datetime] NULL,
	[deleted_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[client_requests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[clients] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[commercial_offers] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[commercial_offers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[conversation_participants] ADD  DEFAULT (getdate()) FOR [joined_at]
GO
ALTER TABLE [dbo].[conversations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[logistics_operations] ADD  DEFAULT ('preparation') FOR [status]
GO
ALTER TABLE [dbo].[logistics_operations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[logistics_operations] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[personal_documents] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[airports]  WITH CHECK ADD  CONSTRAINT [FK_airports_cities] FOREIGN KEY([city_id])
REFERENCES [dbo].[cities] ([id])
GO
ALTER TABLE [dbo].[airports] CHECK CONSTRAINT [FK_airports_cities]
GO
ALTER TABLE [dbo].[carriers]  WITH CHECK ADD  CONSTRAINT [FK_carriers_cities] FOREIGN KEY([city_id])
REFERENCES [dbo].[cities] ([id])
GO
ALTER TABLE [dbo].[carriers] CHECK CONSTRAINT [FK_carriers_cities]
GO
ALTER TABLE [dbo].[cities]  WITH CHECK ADD  CONSTRAINT [FK_cities_countries] FOREIGN KEY([country_id])
REFERENCES [dbo].[countries] ([id])
GO
ALTER TABLE [dbo].[cities] CHECK CONSTRAINT [FK_cities_countries]
GO
ALTER TABLE [dbo].[client_requests]  WITH CHECK ADD  CONSTRAINT [FK_client_requests_clients] FOREIGN KEY([client_id])
REFERENCES [dbo].[clients] ([id])
GO
ALTER TABLE [dbo].[client_requests] CHECK CONSTRAINT [FK_client_requests_clients]
GO
ALTER TABLE [dbo].[client_requests]  WITH CHECK ADD  CONSTRAINT [FK_client_requests_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[client_requests] CHECK CONSTRAINT [FK_client_requests_created_by]
GO
ALTER TABLE [dbo].[client_requests]  WITH CHECK ADD  CONSTRAINT [FK_client_requests_destination_location] FOREIGN KEY([destination_id])
REFERENCES [dbo].[locations] ([id])
GO
ALTER TABLE [dbo].[client_requests] CHECK CONSTRAINT [FK_client_requests_destination_location]
GO
ALTER TABLE [dbo].[client_requests]  WITH CHECK ADD  CONSTRAINT [FK_client_requests_origin_location] FOREIGN KEY([origin_id])
REFERENCES [dbo].[locations] ([id])
GO
ALTER TABLE [dbo].[client_requests] CHECK CONSTRAINT [FK_client_requests_origin_location]
GO
ALTER TABLE [dbo].[clients]  WITH CHECK ADD  CONSTRAINT [FK_clients_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[clients] CHECK CONSTRAINT [FK_clients_created_by]
GO
ALTER TABLE [dbo].[clients]  WITH CHECK ADD  CONSTRAINT [FK_clients_deleted_by] FOREIGN KEY([deleted_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[clients] CHECK CONSTRAINT [FK_clients_deleted_by]
GO
ALTER TABLE [dbo].[clients]  WITH CHECK ADD  CONSTRAINT [FK_clients_updated_by] FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[clients] CHECK CONSTRAINT [FK_clients_updated_by]
GO
ALTER TABLE [dbo].[commercial_offers]  WITH CHECK ADD  CONSTRAINT [FK_commercial_offers_clients] FOREIGN KEY([client_id])
REFERENCES [dbo].[clients] ([id])
GO
ALTER TABLE [dbo].[commercial_offers] CHECK CONSTRAINT [FK_commercial_offers_clients]
GO
ALTER TABLE [dbo].[commercial_offers]  WITH CHECK ADD  CONSTRAINT [FK_commercial_offers_containers] FOREIGN KEY([container_type_id])
REFERENCES [dbo].[container_types] ([id])
GO
ALTER TABLE [dbo].[commercial_offers] CHECK CONSTRAINT [FK_commercial_offers_containers]
GO
ALTER TABLE [dbo].[commercial_offers]  WITH CHECK ADD  CONSTRAINT [FK_commercial_offers_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[commercial_offers] CHECK CONSTRAINT [FK_commercial_offers_created_by]
GO
ALTER TABLE [dbo].[commercial_offers]  WITH CHECK ADD  CONSTRAINT [FK_commercial_offers_dest_port] FOREIGN KEY([destination_port_id])
REFERENCES [dbo].[ports] ([id])
GO
ALTER TABLE [dbo].[commercial_offers] CHECK CONSTRAINT [FK_commercial_offers_dest_port]
GO
ALTER TABLE [dbo].[commercial_offers]  WITH CHECK ADD  CONSTRAINT [FK_commercial_offers_incoterms] FOREIGN KEY([incoterm_id])
REFERENCES [dbo].[incoterms] ([id])
GO
ALTER TABLE [dbo].[commercial_offers] CHECK CONSTRAINT [FK_commercial_offers_incoterms]
GO
ALTER TABLE [dbo].[commercial_offers]  WITH CHECK ADD  CONSTRAINT [FK_commercial_offers_origin_port] FOREIGN KEY([origin_port_id])
REFERENCES [dbo].[ports] ([id])
GO
ALTER TABLE [dbo].[commercial_offers] CHECK CONSTRAINT [FK_commercial_offers_origin_port]
GO
ALTER TABLE [dbo].[commercial_offers]  WITH CHECK ADD  CONSTRAINT [FK_commercial_offers_request] FOREIGN KEY([client_request_id])
REFERENCES [dbo].[client_requests] ([id])
GO
ALTER TABLE [dbo].[commercial_offers] CHECK CONSTRAINT [FK_commercial_offers_request]
GO
ALTER TABLE [dbo].[commercial_offers]  WITH CHECK ADD  CONSTRAINT [FK_commercial_offers_updated_by] FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[commercial_offers] CHECK CONSTRAINT [FK_commercial_offers_updated_by]
GO
ALTER TABLE [dbo].[conversation_participants]  WITH CHECK ADD  CONSTRAINT [FK_participants_conversations] FOREIGN KEY([conversation_id])
REFERENCES [dbo].[conversations] ([id])
GO
ALTER TABLE [dbo].[conversation_participants] CHECK CONSTRAINT [FK_participants_conversations]
GO
ALTER TABLE [dbo].[conversation_participants]  WITH CHECK ADD  CONSTRAINT [FK_participants_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[conversation_participants] CHECK CONSTRAINT [FK_participants_users]
GO
ALTER TABLE [dbo].[incoterms]  WITH CHECK ADD  CONSTRAINT [FK_incoterms_incoterm_types] FOREIGN KEY([incoterm_type_id])
REFERENCES [dbo].[incoterm_types] ([id])
GO
ALTER TABLE [dbo].[incoterms] CHECK CONSTRAINT [FK_incoterms_incoterm_types]
GO
ALTER TABLE [dbo].[incoterms]  WITH CHECK ADD  CONSTRAINT [FK_incoterms_tracking_steps] FOREIGN KEY([tracking_step_id])
REFERENCES [dbo].[tracking_steps] ([id])
GO
ALTER TABLE [dbo].[incoterms] CHECK CONSTRAINT [FK_incoterms_tracking_steps]
GO
ALTER TABLE [dbo].[locations]  WITH CHECK ADD  CONSTRAINT [FK_locations_cities] FOREIGN KEY([city_id])
REFERENCES [dbo].[cities] ([id])
GO
ALTER TABLE [dbo].[locations] CHECK CONSTRAINT [FK_locations_cities]
GO
ALTER TABLE [dbo].[locations]  WITH CHECK ADD  CONSTRAINT [FK_locations_clients] FOREIGN KEY([client_id])
REFERENCES [dbo].[clients] ([id])
GO
ALTER TABLE [dbo].[locations] CHECK CONSTRAINT [FK_locations_clients]
GO
ALTER TABLE [dbo].[login_sessions]  WITH CHECK ADD  CONSTRAINT [FK_login_sessions_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[login_sessions] CHECK CONSTRAINT [FK_login_sessions_users]
GO
ALTER TABLE [dbo].[logistics_operations]  WITH CHECK ADD  CONSTRAINT [FK_logistics_operations_clients] FOREIGN KEY([client_id])
REFERENCES [dbo].[clients] ([id])
GO
ALTER TABLE [dbo].[logistics_operations] CHECK CONSTRAINT [FK_logistics_operations_clients]
GO
ALTER TABLE [dbo].[logistics_operations]  WITH CHECK ADD  CONSTRAINT [FK_logistics_operations_offers] FOREIGN KEY([commercial_offer_id])
REFERENCES [dbo].[commercial_offers] ([id])
GO
ALTER TABLE [dbo].[logistics_operations] CHECK CONSTRAINT [FK_logistics_operations_offers]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_messages_conversations] FOREIGN KEY([conversation_id])
REFERENCES [dbo].[conversations] ([id])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_messages_conversations]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_messages_users] FOREIGN KEY([sender_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_messages_users]
GO
ALTER TABLE [dbo].[personal_documents]  WITH CHECK ADD  CONSTRAINT [FK_personal_documents_types] FOREIGN KEY([personal_document_type_id])
REFERENCES [dbo].[personal_documents_types] ([id])
GO
ALTER TABLE [dbo].[personal_documents] CHECK CONSTRAINT [FK_personal_documents_types]
GO
ALTER TABLE [dbo].[personal_documents]  WITH CHECK ADD  CONSTRAINT [FK_personal_documents_users] FOREIGN KEY([uploaded_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[personal_documents] CHECK CONSTRAINT [FK_personal_documents_users]
GO
ALTER TABLE [dbo].[ports]  WITH CHECK ADD  CONSTRAINT [FK_ports_cities] FOREIGN KEY([city_id])
REFERENCES [dbo].[cities] ([id])
GO
ALTER TABLE [dbo].[ports] CHECK CONSTRAINT [FK_ports_cities]
GO
ALTER TABLE [dbo].[shipping_lines]  WITH CHECK ADD  CONSTRAINT [FK_shipping_lines_cities] FOREIGN KEY([city_id])
REFERENCES [dbo].[cities] ([id])
GO
ALTER TABLE [dbo].[shipping_lines] CHECK CONSTRAINT [FK_shipping_lines_cities]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_clients] FOREIGN KEY([client_id])
REFERENCES [dbo].[clients] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_clients]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_roles]
GO
ALTER TABLE [dbo].[incoterms]  WITH CHECK ADD  CONSTRAINT [CHK_Incoterms_Responsability] CHECK  (([responsability]='seller' OR [responsability]='buyer'))
GO
ALTER TABLE [dbo].[incoterms] CHECK CONSTRAINT [CHK_Incoterms_Responsability]
GO
